{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ],
        "@babel/preset-env", "@babel/preset-react"
    ]
}